.my__repository{
    color: white;
    display: flex;
    justify-content: space-between;
    border: 2px soliid yellow;
    margin: 0 auto;
    
}

.my__repository__header{
    color:rgb(85, 85, 196);
}

.left{
    display: flex;
    align-items: center;
    flex: 0.8;
    
}

.right{
    flex: 0.2;
    gap: 30px;
}

.my__repository__visibiity{
    height:20px;
    margin-left: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    
}

.repositories{
    display: flex;
    justify-content: space-between;
}

.right__btn{
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    ;
}

@media all and (max-width: 6700px){
    .my__repository{
      display: flex;
      flex-direction: row;
    }
  }