.details__page{
    margin-left: 20px;
    color: orange;
}

.details__icon{
    text-align: center;
    align-items: center;
    display: flex;
    color: blue;
}

.details__icon:hover{
    color: red
}

.green{
    color: green;
}

.blue{
    color: blue;
}