.header{
    display: flex;
   justify-content: space-around;
    height: 50px;
}

.header__overview >a{
    text-decoration: none;
    color: white;
}

.header__overview{
    display: flex;
    align-items: center;
}

.header__overview:hover{
    border-bottom: 1px solid orange;
}



.header__icon{
    color: grey;
}

.header__icon:hover  {
color: red;
}
