.view-bio {
    color: #fff;
    border: 0.5px solid rgb(86, 84, 84);
    border-radius: 6px;
    padding: 20px;
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .view-bio .view-bio-info p {
    padding: 10px 0;
    color: grey;
  }
  
  .view-bio .line-one {
    margin-top: 20px;
  }
  
   .view-button {
    display:flex;
    justify-content: center;
    flex-grow: none;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    
  }
  
  .view-bio .view-button button {
    margin-right: 3px;
    cursor: pointer;
    padding: 8px;
    width: 20%;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }
  
   .button-one {
    background-color: #6773e5;
  }
  
   .button-two {
    background-color: #007ec6;
  }
  
   .button-three {
    background-color: #1ca0f1;
  }
  
  .summary-info h5 {
    margin-top: 20px;
    font-size: 14px;
  }
  
   .summary-info ul li {
    margin-top: 8px;
  }
  
   .line-two {
    margin-top: 40px;
    border: 2px solid rgb(45, 44, 44);
  }